<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .center-heading {
            text-align: center;
        }
        .btn {
            margin: 5px;
        }
    </style>

</head>
<body>
    <div class="container">
    <div class="card">
	<h1 class="center-heading">Basic Mathematical Application</h1> 
        <div style="padding: 25px 25px 25px 25px;">
        <div class="card-body">
            <div class="mb-3">
                <label class="form-label">Number 1</label>
                <input type="number" class="form-control" id="num1">
            </div>
    
            <div class="mb-3">
                <label class="form-label">Number 2</label>
                <input type="number" class="form-control" id="num2">
            </div>
    
            <div style="padding: 25px;">
                <h2 class="col-sm-12 center-heading">Operations</h2>
                <button onclick="runOperation('sum')" class="btn btn-secondary col-sm-3">Add</button>
                <button onclick="runOperation('sub')" class="btn btn-secondary col-sm-3">Subtract</button>
                <button onclick="runOperation('mul')" class="btn btn-secondary col-sm-3">Multiply</button>
                <button onclick="runOperation('div')" class="btn btn-secondary col-sm-3">Divide</button>
                <button onclick="runOperation('pow')" class="btn btn-secondary col-sm-3">Power</button>
                <button onclick="runOperation('mod')" class="btn btn-secondary col-sm-3">Modulus</button>
                <button onclick="runOperation('intdiv')" class="btn btn-secondary col-sm-4">Integer Division</button>
                <button onclick="runOperation('pythag')" class="btn btn-secondary col-sm-4">Pythagorean Theorem</button>
                <button onclick="sayHello()" class="btn btn-success col-sm-6">Say Hello</button>
            </div>
	<h2 class="center-heading">Response from server</h2> 
            <div style="padding: 25px 25px 25px 25px;">
    
            <div id="system_response" style="padding: 25px;
            border: 1px solid #ccc;
            border-radius: 5%;
            "></div>
        </div>
    </div>
    </div>
    <script src="./static/mywebscript.js"></script>
</body>
</html>
